@media(max-width: 575.99px){

    /* common css start */

    .header-menu{
        display: none;
    }

    .mobile-header{
        display: block !important;
    } 

    .mobile-header nav{
        padding: 0 !important;
    }

    .mobile-header nav .nav-wrapper{
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .mobile-header nav img{
        width: 41px;
    }

    .mobile-header nav button{
        border: none !important;
        box-shadow: none !important;
        transition: .4s !important;
    }

    .mobile-header nav button i{
        outline: 0;
        border: none;
    }

    .mobile-header .navbar-nav{
        background: #FAFAFA;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav ul li{
        border-top: 1.5px solid #dee2e6 !important;
        padding: 7px 0;
        transition: .4s;
    }

    nav ul li:first-child{
        border-top: none !important;
        background: transparent !important;
    }

    nav ul li .close-icon{
        font-size: 30px !important;
        color: #900683 !important;
        margin-right: 28px;
        cursor: pointer;
    }

    nav ul li a{
        font-size: 15px !important;
        line-height: 19px !important;
        margin-left: 35px !important;
    }

    nav ul li:hover{
        background: #90068329;
    }

    nav ul li:hover a{
        color: #000000 !important;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .mobile-header nav button:hover{
        color: #900683 ;
    }

    .title{
        font-size: 10px;
        line-height: 13px;
    }

    .sub-title{
        font-size: 10px;
        line-height: 13px;
    }

    .banner-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
    }

    .btn{
        font-size: 5px;
        line-height: 6px;
        padding: 3px;
        border-radius: 3px;
    }

    /* common css end */


    /* 
    ** First Page responsive css start
    */


    /* banner css start */

    #banner-part .banner-text{
        font-size: 15px !important;
        font-weight: 700 !important;
        line-height: 19px !important;
    }

    #banner-part .banner-img .overlay{
        padding-top: 76px;
        padding-bottom: 72px;
    }

    /* banner css end */

    /* description css start */

    #description-part{
        padding: 30px 0;
    }

    #description-part p{
        font-size: 8px;
        line-height: 10px;
        padding: 0;
    }

    /* description css end */

    /* school css start */

    #school-part{
        padding: 14px 0;
    }

    #school-part h4{
        font-size: 8px;
        line-height: 10px;
        padding: 0;
        margin-top: 11px;
    }

    #school-part .button{
        margin-top: 11px;
        margin-bottom: 8px;
    }

    #school-part .school-banner img{
        width: 90%;
    }

    /* school css end */

    /* current css start */

    #current-part{
        margin-top: 24px;
        padding-bottom: 0;
    }

    #current-part .current-wrapper{
        flex-direction: column-reverse;
    }

    #current-part .img{
        margin-top: -10px;
        text-align: center;
    }

    #current-part .img img{
        width: 70%;
    }

    #current-part .text{
        padding: 0;
        text-align: center;
        margin-top: -25px;
    }

    #current-part .text h4{
        font-size: 8px;
        line-height: 10px;
        margin-top: 10px;
    }

    #current-part .text p{
        font-size: 7px;
        line-height: 10px;
        text-align: left;
        margin-top: 10px;
        padding: 0 24px;
    }

    #current-part .text .button{
        margin-top: 12px;
    }

    /* current css end */

    /* footer css start */

    #footer-part{
        padding-top: 41px;
        padding-bottom: 20px;
    }

    #footer-part .footer-nav .footer-nav-item .footer-nav-link{
        font-size: 8px;
        line-height: 10px;
    }

    #footer-part .copyright-text p{
        font-size: 5px;
        line-height: 6px;
        margin-top: 15px;
    }

    /* footer css end */


    /* 
    ** First Page responsive css end
    */


    /* 
    ** Second Page responsive css end
    */

    /* second banner css start */

    #banner-part .second-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* second banner css end */

    /* second trip css start */

    #trip-part .img{
        text-align: center;
    }

    #trip-part .img img{
        width: 70%;
    }

    #trip-part .text{
        margin-top: -15px;
        padding: 0;
    }

    #trip-part .sub-title{
        text-align: center;
    }

    #trip-part .text p{
        font-size: 8px;
        line-height: 10px;
        margin-top: 14px;
        text-align: left;
        padding: 0 5px;
    }

    /* second trip css end */

    /* second book css start */

    #book-part{
        margin-top: 28px;
        padding-bottom: 28px;
    }

    #book-part .book-wrapper{
        flex-direction: column-reverse;
    }

    #book-part .img{
        text-align: center;
        margin-top: 20px;
    }

    #book-part .img img{
        width: 70%;
    }

    #book-part .text{
        margin-top: 14px;
        padding: 0;
    }

    #book-part .text h4{
        text-align: center;
        margin-top: -22px;
    }

    #book-part .text p{
        font-size: 8px;
        line-height: 10px;
        text-align: left;
        margin-top: 14px;
        padding: 0 5px;
    }

    /* second book css end */

    /* 
    ** Second Page responsive css end
    */

    /* 
    ** Third Page responsive css start
    */

    /* third banner css start */

    #banner-part .third-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* third banner css end */

    /* third contact-form css start */

    #contact-form-part .contact-form-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 44px;
        padding: 13px 50px;
    }

    #contact-form-part .text h1{
        font-size: 10px;
        line-height: 13px;
        text-align: center;
    }

    #contact-form-part .text h3{
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #contact-form-part .contact-form-wrapper .mt-4{
        margin-top: 9px !important;
    }

    #contact-form-part .contact-form-wrapper form input{
        font-size: 7px;
        line-height: 9px;
        padding-top: 4px;
        padding-bottom: 6px;
        padding-left: 7px;
        border-radius: 5px;
    }

    #contact-form-part .contact-form-wrapper form textarea{
        font-size: 7px;
        line-height: 9px;
        padding-top: 6px;
        padding-left: 7px;
        border-radius: 5px;
        height: 50px;
    }

    #contact-form-part .contact-form-wrapper form input::placeholder{
        font-size: 7px;
        line-height: 9px;
    }
    #contact-form-part .contact-form-wrapper form textarea::placeholder{
        font-size: 7px;
        line-height: 9px;
    }

    #contact-form-part .contact-form-wrapper form .button{
        text-align: center;
        margin-top: -10px;
    }

    #contact-form-part .contact-form-wrapper form .btn{
        padding: 3px 6px;
    }

    /* third contact-form css end */

    /* 
    ** Third Page responsive css end
    */
}

@media(min-width: 576px) and (max-width: 767.99px){
    /* common css start */

    .header-menu{
        display: none;
    }

    .mobile-header{
        display: block !important;
    } 

    .mobile-header nav{
        padding: 0 !important;
    }

    .mobile-header nav .nav-wrapper{
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .mobile-header nav img{
        width: 41px;
    }

    .mobile-header nav button{
        border: none !important;
        box-shadow: none !important;
        transition: .4s !important;
    }

    .mobile-header nav button i{
        outline: 0;
        border: none;
    }

    .mobile-header .navbar-nav{
        background: #FAFAFA;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav ul li{
        border-top: 1.5px solid #dee2e6 !important;
        padding: 7px 0;
        transition: .4s;
    }

    nav ul li:first-child{
        border-top: none !important;
        background: transparent !important;
    }

    nav ul li .close-icon{
        font-size: 30px !important;
        color: #900683 !important;
        margin-right: 28px;
        cursor: pointer;
    }

    nav ul li a{
        font-size: 15px !important;
        line-height: 19px !important;
        margin-left: 35px !important;
    }

    nav ul li:hover{
        background: #90068329;
    }

    nav ul li:hover a{
        color: #000000 !important;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .mobile-header nav button:hover{
        color: #900683 ;
    }

    .title{
        font-size: 10px;
        line-height: 13px;
    }

    .sub-title{
        font-size: 10px;
        line-height: 13px;
    }

    .banner-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
    }

    .btn{
        font-size: 5px;
        line-height: 6px;
        padding: 3px;
        border-radius: 3px;
    }

    /* common css end */


    /* 
    ** First Page responsive css start
    */


    /* banner css start */

    #banner-part .banner-text{
        font-size: 15px !important;
        font-weight: 700 !important;
        line-height: 19px !important;
    }

    #banner-part .banner-img .overlay{
        padding-top: 76px;
        padding-bottom: 72px;
    }

    /* banner css end */

    /* description css start */

    #description-part{
        padding: 30px 0;
    }

    #description-part p{
        font-size: 8px;
        line-height: 10px;
        padding: 0;
    }

    /* description css end */

    /* school css start */

    #school-part{
        padding: 14px 0;
    }

    #school-part h4{
        font-size: 8px;
        line-height: 10px;
        padding: 0;
        margin-top: 11px;
    }

    #school-part .button{
        margin-top: 11px;
        margin-bottom: 8px;
    }

    #school-part .school-banner img{
        width: 90%;
    }

    /* school css end */

    /* current css start */

    #current-part{
        margin-top: 24px;
        padding-bottom: 0;
    }

    #current-part .current-wrapper{
        flex-direction: column-reverse;
    }

    #current-part .img{
        margin-top: -10px;
        text-align: center;
    }

    #current-part .img img{
        width: 70%;
    }

    #current-part .text{
        padding: 0;
        text-align: center;
        margin-top: -25px;
    }

    #current-part .text h4{
        font-size: 8px;
        line-height: 10px;
        margin-top: 10px;
    }

    #current-part .text p{
        font-size: 7px;
        line-height: 10px;
        text-align: left;
        margin-top: 10px;
        padding: 0 24px;
    }

    #current-part .text .button{
        margin-top: 12px;
    }

    /* current css end */

    /* footer css start */

    #footer-part{
        padding-top: 41px;
        padding-bottom: 20px;
    }

    #footer-part .footer-nav .footer-nav-item .footer-nav-link{
        font-size: 8px;
        line-height: 10px;
    }

    #footer-part .copyright-text p{
        font-size: 5px;
        line-height: 6px;
        margin-top: 15px;
    }

    /* footer css end */


    /* 
    ** First Page responsive css end
    */


    /* 
    ** Second Page responsive css end
    */

    /* second banner css start */

    #banner-part .second-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* second banner css end */

    /* second trip css start */

    #trip-part .img{
        text-align: center;
    }

    #trip-part .img img{
        width: 70%;
    }

    #trip-part .text{
        margin-top: -15px;
        padding: 0;
    }

    #trip-part .sub-title{
        text-align: center;
    }

    #trip-part .text p{
        font-size: 8px;
        line-height: 10px;
        margin-top: 14px;
        text-align: left;
        padding: 0 5px;
    }

    /* second trip css end */

    /* second book css start */

    #book-part{
        margin-top: 28px;
        padding-bottom: 28px;
    }

    #book-part .book-wrapper{
        flex-direction: column-reverse;
    }

    #book-part .img{
        text-align: center;
        margin-top: 20px;
    }

    #book-part .img img{
        width: 70%;
    }

    #book-part .text{
        margin-top: 14px;
        padding: 0;
    }

    #book-part .text h4{
        text-align: center;
        margin-top: -22px;
    }

    #book-part .text p{
        font-size: 8px;
        line-height: 10px;
        text-align: left;
        margin-top: 14px;
        padding: 0 5px;
    }

    /* second book css end */

    /* 
    ** Second Page responsive css end
    */

    /* 
    ** Third Page responsive css start
    */

    /* third banner css start */

    #banner-part .third-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* third banner css end */

    /* third contact-form css start */

    #contact-form-part .contact-form-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 44px;
        padding: 13px 50px;
    }

    #contact-form-part .text h1{
        font-size: 10px;
        line-height: 13px;
        text-align: center;
    }

    #contact-form-part .text h3{
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #contact-form-part .contact-form-wrapper .mt-4{
        margin-top: 9px !important;
    }

    #contact-form-part .contact-form-wrapper form input{
        font-size: 7px;
        line-height: 9px;
        padding-top: 4px;
        padding-bottom: 6px;
        padding-left: 7px;
        border-radius: 5px;
    }

    #contact-form-part .contact-form-wrapper form textarea{
        font-size: 7px;
        line-height: 9px;
        padding-top: 6px;
        padding-left: 7px;
        border-radius: 5px;
        height: 50px;
    }

    #contact-form-part .contact-form-wrapper form input::placeholder{
        font-size: 7px;
        line-height: 9px;
    }
    #contact-form-part .contact-form-wrapper form textarea::placeholder{
        font-size: 7px;
        line-height: 9px;
    }

    #contact-form-part .contact-form-wrapper form .button{
        text-align: center;
        margin-top: -10px;
    }

    #contact-form-part .contact-form-wrapper form .btn{
        padding: 3px 6px;
    }

    /* third contact-form css end */

    /* 
    ** Third Page responsive css end
    */
}

@media(min-width: 768px) and (max-width: 991.99px){
    /* common css start */

    .header-menu{
        display: none;
    }

    .mobile-header{
        display: block !important;
    } 

    .mobile-header nav{
        padding: 0 !important;
    }

    .mobile-header nav .nav-wrapper{
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .mobile-header nav img{
        width: 41px;
    }

    .mobile-header nav button{
        border: none !important;
        box-shadow: none !important;
        transition: .4s !important;
    }

    .mobile-header nav button i{
        outline: 0;
        border: none;
    }

    .mobile-header .navbar-nav{
        background: #FAFAFA;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav ul li{
        border-top: 1.5px solid #dee2e6 !important;
        padding: 7px 0;
        transition: .4s;
    }

    nav ul li:first-child{
        border-top: none !important;
        background: transparent !important;
    }

    nav ul li .close-icon{
        font-size: 30px !important;
        color: #900683 !important;
        margin-right: 28px;
        cursor: pointer;
    }

    nav ul li a{
        font-size: 15px !important;
        line-height: 19px !important;
        margin-left: 35px !important;
    }

    nav ul li:hover{
        background: #90068329;
    }

    nav ul li:hover a{
        color: #000000 !important;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .mobile-header nav button:hover{
        color: #900683 ;
    }

    .title{
        font-size: 10px;
        line-height: 13px;
    }

    .sub-title{
        font-size: 10px;
        line-height: 13px;
    }

    .banner-title{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
    }

    .btn{
        font-size: 5px;
        line-height: 6px;
        padding: 3px;
        border-radius: 3px;
    }

    /* common css end */


    /* 
    ** First Page responsive css start
    */


    /* banner css start */

    #banner-part .banner-text{
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 30px !important;
    }

    #banner-part .banner-img .overlay{
        padding-top: 155px;
        padding-bottom: 155px;
    }

    /* banner css end */

    /* description css start */

    #description-part{
        padding: 30px 0;
    }

    #description-part p{
        font-size: 12px;
        line-height: 15px;
        padding: 0;
    }

    /* description css end */

    /* school css start */

    #school-part{
        padding: 14px 0;
    }

    #school-part h4{
        font-size: 8px;
        line-height: 10px;
        padding: 0;
        margin-top: 11px;
    }

    #school-part .button{
        margin-top: 11px;
        margin-bottom: 8px;
    }

    #school-part .school-banner img{
        width: 90%;
    }

    /* school css end */

    /* current css start */

    #current-part{
        margin-top: 24px;
        padding-bottom: 0;
    }

    #current-part .img{
        margin-top: -10px;
        text-align: center;
    }

    #current-part .img img{
        width: 70%;
    }

    #current-part .text{
        padding: 0;
        text-align: center;
        margin-top: 30px;
    }

    #current-part .text h4{
        font-size: 8px;
        line-height: 10px;
        margin-top: 10px;
    }

    #current-part .text p{
        font-size: 7px;
        line-height: 10px;
        text-align: left;
        margin-top: 10px;
        padding: 0 24px;
    }

    #current-part .text .button{
        margin-top: 12px;
    }

    /* current css end */

    /* footer css start */

    #footer-part{
        padding-top: 41px;
        padding-bottom: 20px;
    }

    #footer-part .footer-nav .footer-nav-item .footer-nav-link{
        font-size: 8px;
        line-height: 10px;
    }

    #footer-part .copyright-text p{
        font-size: 5px;
        line-height: 6px;
        margin-top: 15px;
    }

    /* footer css end */


    /* 
    ** First Page responsive css end
    */


    /* 
    ** Second Page responsive css end
    */

    /* second banner css start */

    #banner-part .second-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* second banner css end */

    /* second trip css start */

    #trip-part .img{
        text-align: center;
    }

    #trip-part .img img{
        width: 70%;
    }

    #trip-part .text{
        margin-top: -15px;
        padding: 0;
    }

    #trip-part .sub-title{
        text-align: center;
    }

    #trip-part .text p{
        font-size: 8px;
        line-height: 10px;
        margin-top: 14px;
        text-align: left;
        padding: 0 5px;
    }

    /* second trip css end */

    /* second book css start */

    #book-part{
        margin-top: 28px;
        padding-bottom: 28px;
    }

    #book-part .book-wrapper{
        flex-direction: column-reverse;
    }

    #book-part .img{
        text-align: center;
        margin-top: 20px;
    }

    #book-part .img img{
        width: 70%;
    }

    #book-part .text{
        margin-top: 14px;
        padding: 0;
    }

    #book-part .text h4{
        text-align: center;
        margin-top: -22px;
    }

    #book-part .text p{
        font-size: 8px;
        line-height: 10px;
        text-align: left;
        margin-top: 14px;
        padding: 0 5px;
    }

    /* second book css end */

    /* 
    ** Second Page responsive css end
    */

    /* 
    ** Third Page responsive css start
    */

    /* third banner css start */

    #banner-part .third-banner-overlay{
        padding-top: 76px !important;
        padding-bottom: 88px !important;
    }

    /* third banner css end */

    /* third contact-form css start */

    #contact-form-part .contact-form-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 44px;
        padding: 13px 50px;
    }

    #contact-form-part .text h1{
        font-size: 10px;
        line-height: 13px;
        text-align: center;
    }

    #contact-form-part .text h3{
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #contact-form-part .contact-form-wrapper .mt-4{
        margin-top: 9px !important;
    }

    #contact-form-part .contact-form-wrapper form input{
        font-size: 7px;
        line-height: 9px;
        padding-top: 4px;
        padding-bottom: 6px;
        padding-left: 7px;
        border-radius: 5px;
    }

    #contact-form-part .contact-form-wrapper form textarea{
        font-size: 7px;
        line-height: 9px;
        padding-top: 6px;
        padding-left: 7px;
        border-radius: 5px;
        height: 50px;
    }

    #contact-form-part .contact-form-wrapper form input::placeholder{
        font-size: 7px;
        line-height: 9px;
    }
    #contact-form-part .contact-form-wrapper form textarea::placeholder{
        font-size: 7px;
        line-height: 9px;
    }

    #contact-form-part .contact-form-wrapper form .button{
        text-align: center;
        margin-top: -10px;
    }

    #contact-form-part .contact-form-wrapper form .btn{
        padding: 3px 6px;
    }

    /* third contact-form css end */

    /* 
    ** Third Page responsive css end
    */
}